@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap");

$white: #fafafa;
$black: #242424;
$regular: "Montserrat", sans-serif;
$green: #26c8ad;
$medium: "Barlow", sans-serif;
